spring:
  application:
    name: "${SPRING_APPLICATION_NAME:business}"
  datasource:
    url: "${DB_URL}"
  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: businesszone-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        auto.offset.reset: earliest
        enable.auto.commit: false
        isolation.level: read_committed
    topic:
      business-created: "business-created"