spring:
  application:
    name: "${SPRING_APPLICATION_NAME:business}"
  datasource:
    url: "${DB_URL}"
  kafka:
    bootstrap-servers: "kafka:29092"
    consumer:
      group-id: "businesszone-service"
      auto-offset-reset: "earliest"
      enable-auto-commit: false
      isolation-level: "read_committed"
      key-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
      value-deserializer: "org.springframework.kafka.support.serializer.JsonDeserializer"
      properties:
        spring.json.value.default.type: "cm.fastrelay.business.events.consumer.model.UserCreatedEvent"
        spring.json.trusted.packages: "cm.fastrelay.business.events.consumer.model"

    topic:
      business-created: "business-created"