spring:
  application:
    name: "${SPRING_APPLICATION_NAME:business}"
  datasource:
    url: "${DB_URL}"
  kafka:
    bootstrap-servers: "kafka:29092"
    consumer:
      group-id: "businesszone-service"
      auto-offset-reset: "earliest"
      enable-auto-commit: false
      isolation-level: "read_committed"

    topic:
      business-created: "business-created"
      subscription-created: "subscription-created"
      subscription-expired: "subscription-expired"